  .buttonDropdown {
    min-width: 200px;
  }

  .regularButton {
    min-width: 150px;
  }

  ul li {
    list-style-type: none;
    text-align: left;
  }

  .checkBoxHigh {
    margin: 0px;
    min-height: 35px;
    min-width: 75px;
  }

  .container {
    width: 100%;
  }

  .imageSize {
    max-width: 100%;
  }