.buttonDropdown {
  min-width: 200px;
}

  .regularButton {
    min-width: 150px;
  }

  ul li {
    list-style-type: none;
    text-align: left;
  }

  .checkBoxHigh {
    margin: 0px;
    min-height: 35px;
    min-width: 75px;
    display: flex;
    align-items: center;
  }

  .checkBoxHigh input[type="checkbox"] {
    margin-right: 10px;
  }
  
  

  .container {
    width: 100%;
  }

  .imageSize {
    max-width: 100%;
  }
  .custom-dropdown {
    width: 200px;
  }
  
  .container-flex{ 
    width: 100%;
  }

  #root{
    width: 100%;
  
  }
  body{
    width: 100%;
   
  }